<!-- The backend basic UI for quickly access different tables -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Our Website</h1>
    <p>Hello, and welcome to our website!</p>

    <ul>
        <li><a href="/api/audio">audio</a></li>
        <li><a href="/api/activeHeartAudio">active heart audio</a></li>
        <li><a href="/api/activeLungAudio">active lung audio</a></li>
        <li><a href="/api/audioList">list</a></li>
        <li><a href="/api/listContent">list content</a></li>
        <li><a href="/api/playRandomHeartBeat">Random Heart Beat</a></li>
        <li><a href="/api/getAllAudio">Get All Audio</a></li>
        <li><a href="/api/getAllList">Get All List</a></li>
        <li><a href="/api/audioFile/001.wav">Get 001.wav</a></li>
        <li><a href="/api/audioFile/002.wav">Get 002.wav</a></li>
    </ul>
</body>
</html>